.sidebar{
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;

    display: flex;
    justify-content: center;

    @media only screen and (max-width: $bp-medium){
        grid-column: 1 / -1;
        grid-row: 1 / span 1;
        justify-content: flex-end;
        align-items: center;
    }
}

%menu-line{
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
}

.nav-btn{
    border: none;
    margin-top: 4rem;

    @media only screen and (max-width: $bp-medium){
        margin-right: 2rem;
        margin-top: 0;
    }

    @extend %menu-line;

    &::before,
    &::after{
        @extend %menu-line;
        content: '';
        display: block;
    }

    &::before{ transform: translateY(-1.5rem); }
    &::after{ transform: translateY(1.3rem); }
}